html {
    font-size: 10px;
    
}

body {
    color: black;
    margin-top: 2%;
    font-family: 'Karla', sans-serif;
    background-color: rgb(0, 26, 51);
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    padding: 1%
}

p {
    font-size: 1.8rem;
    padding: 1%
}

label {
    margin: 1rem;
    font-size: 1.4rem;
}

.btn {
    margin: 2%;
   padding: 1rem;
   font-size: 1.4em;
   align-content: middle;
}

#hello {
    height: 1600px;
    width: 2000px;
    background-image: url("./src/images/land.jpg");
    background-size: cover;
    background-position: center; 
    background-size: cover;
    margin-left: 0;
    position: relative;
    margin: -15% 0 0 -35%;
}

#hellobtn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10%;
    width: 50%;
    margin: -15% 0 0 -25%;
    font-size: 3rem;
}

#rules {
    height: 1600px;
    width: 2000px;
    background-image: url("./src/images/blackboard.jpg");
    background-size: cover;
    margin: -5% 0 0 -30%;
    position: relative;
}

#rulestext {
    height: 1600px;
    width: 2000px;
    position: absolute;
    top: 30%;
    left: 50%;
    height: 10%;
    width: 50%;
    margin: -15% 0 0 -25%;
   
}

#countdown {
    text-align: center;
    font-size: 2rem;
}

#scoretable {
    width: 100%;
    align-items: center;
    margin-top: 5%;
    font-size: 2.0rem;
}

#alert1 {
    margin-top: 5%;
    width: 100%;
    font-size: 2.0rem;
}

#alert2 {
    margin-top: 5%;
    width: 100%;
    font-size: 1.8rem;
}

#alert3 {
    background-image: url("./src/images/meme.jpg");
}



/* Extra small devices (phones) */
@media only screen and (max-width: 768px) {
    html {
        font-size: 6px;
    }
} 

/* Small devices (portrait tablets) */
@media only screen and (max-width: 992px) {
   html {
        font-size: 8px;
    }
} 

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
} 

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 10px;
    }
} 