body {
    color: black;
    margin-top: 5%;
    font-family: 'Monserrat', sans-serif;
    background-color: rgb(0, 26, 51);
    color: white;
}

h1 {
    font-size: 30px;
    text-align: center;
}



input {
    width: 100%;
}


.btn {
   margin: 5%;
   padding: 10px;
   font-size: 14px;
}

#scoretable {
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}